---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import faculties from "../constants/faculties.js";
import type { LostItem, LostItemsAPI } from "../types/lost_object.js";
import json from "../examples/lost_items.json";

const { lostItems: items } = JSON.parse(JSON.stringify(json)) as LostItemsAPI;
let i = 1;
---

<script>
    //functions
    function isLostObject(lostObject: string) {
        return /^[a-zA-Z\s]{1,50}$/.test(lostObject) && lostObject.length <= 50;
    }
    //variables from html
    const lostObject = document.getElementById("place") as HTMLInputElement;
    const faculty = document.getElementById("search-bar") as HTMLInputElement;
    const filter = document.getElementById("filter");
    const reportButton = document.getElementById('reportButton') as HTMLButtonElement;

    if (!isLostObject(lostObject.value)) {
    }

    reportButton.onclick = function() {
        window.location.href = "";
    }

</script>

<Layout title="search">
    <div class="pageContainer d-flex">
        <div class="container justify-content-center align-items-center">
            <div class="row justify-content-center">
                <form
                    class="search-box col-10 bg-blue d-flex flex-column align-items-center justify-content-evenly rounded-5 text-white fs-5"
                >
                    <div class="d-flex align-items-center">
                        <label
                            for="place"
                            class="text-center mx-2 mb-2 "
                        >
                            Faculty
                            <select
                                id="place"
                                name="place"
                                class="rounded-pill border-0 px-3 text-black"
                            >
                                <option value="" disabled selected
                                    >Select Faculty</option
                                >
                                {
                                    faculties.map((f) => (
                                        <option value={i++}>{f}</option>
                                    ))
                                }
                            </select>
                        </label>
                        <label
                            for="search-bar"
                            class="text-center mx-2 mb-2 flex-grow-1"
                        >
                            Lost Object
                            <input
                                type="text"
                                name="search-bar"
                                placeholder="Tupper"
                                id="search-bar"
                                class="rounded-pill border-0 px-3 text-black"
                            />
                        </label>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <button
                            type="submit"
                            class="btn btn-secondary rounded-pill"
                            id="filter">Filter</button
                        >
                    </div>
                </form>
            </div>
            <div
                class="object-box d-flex align-items-center justify-content-center mb-5"
            >
                {
                    //page changes by filter
                    items.map((item) => (
                        <Card
                            name={item.lostObject}
                            place={item.place}
                            photo={item.photo}
                            important={item.prioritary}
                        />
                    ))
                }
            </div>
            <div
                class="lost-box container d-flex flex-column col-6 align-items-center justify-content-center rounded-4 "
            >
                <p class="font-urbanist text-center mt-2">YOU LOST SOMETHING?</p>
                <button type="button" class="btn mb-1" id="reportButton"
                    >REPORT HERE</button
                >
            </div>
        </div>
    </div>
</Layout>
<style>
    .pageContainer {
        background: -webkit-linear-gradient(150deg, #a19d9a, #424141);
    }
    .row {
        margin-top: 3rem;
    }
    .search-box {
        padding: 2rem;
        gap: 2rem;
        background-color: rgba(21, 72, 129, 0.712);
    }
    input,
    select {
        width: 100%;
        margin-top: 1rem;
    }
    .object-box {
        margin-top: 5rem;
        flex-wrap: wrap;
        gap: 2.5rem;
    }
    .lost-box {
        background-color: #ffaa33d0;
        color: #1f3b59;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    .warning-message {
        text-align: center;
        font-size: 14px;
    }
    #filter {
        padding: 5px 30px;
    }
    #filter:hover {
        box-shadow:
            0 12px 16px 0 rgba(0, 0, 0, 0.24),
            0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    #reportButton {
        color: rgba(163, 5, 5, 0.897);
        font-size: 2rem;
        border: 0px;
        background-color: transparent;
    }
    #reportButton:hover {
        box-shadow:
            0 12px 16px 0 rgba(167, 102, 48, 0.24),
            0 17px 50px rgba(202, 155, 25, 0.19);
    }
</style>
